<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">500</h4>
  <p>Internal Server Error</p>
  <hr>
  <p class="mb-0">Oh noes..something went totes wrong with the server.</p>
</div>